@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 177, 216, 0.493);
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgba(240, 128, 184, 0.233);
    background-color: rgba(240, 214, 241, 0.411);
    color: rgba(240, 128, 234, 0.226);
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}